<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django girls blog</title>
</head>
<body>
    <div>
        <h1><a href="#">Dkango Girls Blog</a></h1>
    </div>
    <div>
        {% for post in posts %}
        
        <p>published: {{ post.published_date }}</p>
        <h1><a href="#">{{ post.title }}</a></h1>
        <p>{{ post.text | linebreaksbr }}</p>
        
        {% endfor %}
    </div>
    
</body>
</html>