<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django girls blog</title>
</head>
<body>
    <div>
        <h1><a href="#">Dkango Girls Blog</a></h1>
    </div>
    <div>
        <p>published: 27.08.2024 18:07</p>
        <h2><a href="#">My first post</a></h2>
        <p>После нескольких дней затишья фронт в Курской области пришел в движение, сообщил близкий к Минобороны РФ Z-канал «Рыбарь».
            Впрочем, пока до конца не понятно, есть ли реальное продвижение или это фиксация сложившегося положения дел.            
            Украинский проект DeepState ранее отметил населенные пункты, которые, по данным «Рыбаря», Россия бросила при отступлении как занятые ВСУ.</p>
    </div>
    <div>
        <p>published: 27.08.2024 18:20</p>
        <h2><a href="#">My first post</a></h2>
        <p>Контроль ВСУ над дорогой до Снагости позволит украинским военным усилить давление на Коренево, а также начать наступление на запад от этих сел, пишет «Рыбарь».
            При наступлении на Запад ВСУ могут загнать российских военных в ловушку, сформированную рекой и границей, отмечает канал.            
            До этого в Курской области наблюдалось несколько дней затишья, следует как из сообщений Z-каналов и данных DeepState и ISW.</p>
    </div>
    
</body>
</html>